name: ci

on:
  push:

env:
  GO_VERSION: 1.23.6

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Install dependencies
        run: go mod download
      - name: Build
        run: go build -v ./...
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.60
      - name: Test
        run: go test -v ./...
  deploy:
    needs: test
    if: ${{ success() }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - dockerfile: ./images/perf/Dockerfile
            image: quay.io/tigeradev/tiger-bench-perf
          - dockerfile: ./images/nginx/Dockerfile
            image: quay.io/tigeradev/tiger-bench-nginx
          - dockerfile: ./images/ttfr/Dockerfile
            image: quay.io/tigeradev/tiger-bench-ttfr
          - dockerfile: ./Dockerfile
            image: quay.io/tigeradev/tiger-bench
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to quay.io
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ vars.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ matrix.image }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern=v{{version}}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker images for tiger-bench
        uses: docker/build-push-action@v6
        with:
          build-args: |
            GO_VERSION=${{ env.GO_VERSION }}
          context: .
          file: ${{ matrix.dockerfile }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
